
.ant-radio-checked .ant-radio-inner {
    background-color: #D55200 !important;
    border-color: #D55200 !important;
  }


  .ant-radio:hover .ant-radio-inner {
    border-color: #D55200 !important;
  }
  
  .ant-radio-checked:hover .ant-radio-inner {
    background-color: #D55200 !important;
  }