.product-card {
    width: 900px;
    height: 200px;
    padding: 27px 60px;
    display: flex;
    align-items: start;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 129px;
    height: 146px;
    margin-right: 41px;
}

.product-title {
    font-size: 18px;
    font-weight: medium;
    color: #240E00CC;
    margin-top: 20px;
    margin-bottom: 38px;
    margin-right: 80px;
}

.quantity-controls {
    display: flex;
    gap: 15px;
    align-items: center;
}

.quantity-btn {
    width: 48px;
    height: 44px;
    border: 1px solid #D55200;
    color: #D55200;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}

.quantity {
    font-size: 24px;
    font-weight: bold;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
}

.action-icons {
    display: flex;
    gap: 20px;
}

.action-icon {
    width: 54px;
    height: 44px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.icon {
    font-size: 22px;
}
